@charset "utf-8";
/* CSS Document */
#a1
{
	position:absolute;
	top:50px;
	left:50px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}
#a2
{
	position:absolute;
	top:170px;
	left:50px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}
#a3
{
	position:absolute;
	top:290px;
	left:50px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}
#b1
{
	position:absolute;
	top:50px;
	left:170px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}
#b2
{
	position:absolute;
	top:170px;
	left:170px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}
#b3
{
	position:absolute;
	top:290px;
	left:170px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}

#c1
{
	position:absolute;
	top:50px;
	left:290px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
}
#c2
{
	position:absolute;
	top:170px;
	left:290px;
	width:100px;
	height:100px;
	background-color:#09C;
	
}
#c3
{
	position:absolute;
	top:290px;
	left:290px;
	width:100px;
	height:100px;
	background-color:#09C;
	transition-duration:0.5s;
	/*transition-delay:1s;
	transition-duration:2s;*/
	}

#a1:hover{
	transform:scale(1.5,1.5);
	animation-name:cross;
	animation-duration:1s;
}

#a2:hover{
	transform:scale(1.5,1.5);
	animation-name:zero;
	animation-duration:1s;
}

#a3:hover{
	transform:scale(1.5,1.5);
	animation-name:cross;
	animation-duration:1s;
}

#b1:hover{
	transform:scale(1.5,1.5);
	animation-name:zero;
	animation-duration:1s;
}

#b2:hover{
	transform:scale(1.5,1.5);
	animation-name:cross;
	animation-duration:1s;
}

#b3:hover{
	transform:scale(1.5,1.5);
	animation-name:zero;
	animation-duration:1s;
}

#c1:hover{
	transform:scale(1.5,1.5);
	animation-name:cross;
	animation-duration:1s;
}

#c2:hover{
	transform:scale(1.5,1.5);
	animation-name:zero;
	animation-duration:1s;
}

#c3:hover{
	transform:scale(1.5,1.5);
	animation-name:cross;
	animation-duration:1s;
}

@keyframes cross{
	0%{
		background-color:#09C;
	}
	50%{
		background-color:transparent;
		background-image:url(3-37459_complete-to-vote-tic-tac-toe-cross-clipart.png);
		background-size:cover;
	}
}

@keyframes zero{
	0%{
		background-color:#09C;
	}
	50%{
		background-color:transparent;
		background-image:url(1200px-Letter_o.svg.png);
		background-size:cover;
	}
	
}