@charset "utf-8";
/* CSS Document */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after
{
content: "";
clear: both;
display: table;
}

[class*="col-"]
{
float: left;
padding: 0px;
}


#body-mypage{
	background-color: aqua
}

h1{
	font-family:"Comic Sans MS", cursive;
	text-transform:capitalize;
	background:#FFF;
	color: #000;
	text-align:center
}

h2{
	font-family:"Comic Sans MS", cursive;
	text-transform:capitalize;
	background:#FFF;
	color: #000;
	text-align:center
}



.menu-items{
	font-family:"Comic Sans MS", cursive;
	color:#FFF;
	height:50px;
	text-align:center;
	transition-duration:0.15s;
	padding-top: 20px;
	background-color:#000;	
	align-items: center
}

.menu-items:hover{
	background-color: #999;
	transform: scale(1.25,1.25);
}


@media only screen and (max-width: 500px){
[class*="col-"]{
	width:100%;
	padding:5px;
}	

	.col-1{
		width:15%;
	}
	.col-11{
		width:80%;
		
	}
}